include variables.pug
//- D O C  H T M L 5
doctype html 
html(lang="es")
    include head.pug
    body
        include header.pug
        main.mt-4.hide#main(style="max-width: 100%; margin: 0 auto;")
        block contenidos
        include footer.pug
    script(src="../assets/js/bootstrap.js")
    script(src="../assets/js/index.js")